@use "global" as *;

.blog-main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        width: 65.3703703704%;
    }
}

.blog-main::after {
    content: "";
    position: absolute;
    top: rem(-23);
    left: calc(50% - min(46vw, rem(620)));
    width: rem(120);
    height: rem(55);
    background-image: url(../images/top/hanadai-top-voice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    @include mq("md") {
        top: rem(-74);
        left: calc(50% - min(49vw, rem(430)));
        width: rem(300);
        height: rem(138);
    }
}