@use "global" as *;

.blog-archive__accordion {
    margin-top: rem(26);
    margin-left: rem(5);
    cursor: pointer;
}

.blog-archive__year {
    position: relative;
    display: inline-block;
    padding-left: rem(30);
    font-size: rem(24);
    font-weight: $regular;
    font-family: 'Noto Sans JP',sans-serif;
    color: $color-green;
}

.blog-archive__year:hover {
    opacity: 0.7;
}

.blog-archive__month {
    padding-left: rem(24);
    display: none;
    font-size: rem(24);
    font-weight: $regular;
    font-family: 'Noto Sans JP',sans-serif;
    color: $color-green;
}

.blog-archive__month-item + .blog-archive__month-item {
    padding-top: rem(5);
}

.blog-archive__year::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent $color-green;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: all .5s;
}

.blog-archive__year.blog-archive__year--first::before {
    transform: rotate(90deg);
}

.blog-archive__year.clicked::before {
    transform: rotate(90deg);
}

.blog-archive__year.blog-archive__year--first.clicked::before {
    transform: rotate(0deg);
}

.blog-archive__month-item a {
    position: relative;
}

.blog-archive__month-item a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent $color-green;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: all .5s;
}

.blog-archive__month-item a{
    padding-left: rem(32);
}