@use "global" as *;

.blog-article__items {
    margin-top: rem(24);
}

.blog-article__item {
    padding: rem(16);
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);
}

.blog-article__item + .blog-article__item {
    margin-top: rem(24);
}

.blog-article__flex {
    display: flex;
}

.blog-article__img {
    max-width: 45.9770115%;
    width: 100%;
}

.blog-article__img img {
    aspect-ratio: 121/90;
    width: 100%;
    object-fit: cover;
}

.blog-article__contents {
    margin-left: rem(16);
    flex: 1;
    min-width: 0;
}

.blog-article__date {
    display: block;
    font-size: rem(12);
    font-weight: $regular;
}

.blog-article__text {
    margin-top: rem(4);
    display: block;
    white-space: nowrap; /* テキストを一行に制限 */
    overflow: hidden; /* オーバーフロー部分を隠す */
    text-overflow: ellipsis; /* オーバーフロー部分を省略記号に変える */
    width: 100%; /* 必要に応じて幅を調整 */
    font-size: rem(16);
    font-weight: $regular;
}

