@use "global" as *;

.form-check {
    width: 84.73913%;
    text-align: center;
}

.form-check label {
    display:block;
}

.form-check input + span {
    margin-top: rem(9);
    padding-left: rem(12);
    display: inline-block;
    position: relative;
    font-size: rem(14);
    line-height: 1.5;
    text-align: left;
    cursor: pointer;
}

.form-check input + span::before {
    content: "";
    position: absolute;
    top: 20%;
    left: rem(-16);
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid $color-green;
    display: block;
    width: rem(22);
    height: rem(22);
    @include mq("md") {
        top: 45%;
        left: rem(-25);
    }
}

.form-check input + span::after {
    content: "";
    margin-top: rem(-2);
    position: absolute;
    top: 19%;
    left: rem(-12);
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    width: rem(15);
    height: rem(8);
    border-bottom: rem(2) solid #C94800;
    border-left: rem(2) solid #C94800;
    transition:  .3s;
    opacity: 0;
    @include mq("md") {
        top: 37%;
        left: rem(-21);
    }
}

.form-check input:checked + span::after {
    opacity: 1;
}