@use "global" as *;

.price-table__content {
    border: 1px solid $color-green;
    @include mq("md") {
        display: flex;
    }
}

.price-table__content + .price-table__content {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
}

.price-table__title {
    padding-top: rem(12);
    padding-right: rem(8);
    padding-bottom: rem(12);
    padding-left: rem(40);
    display: block;
    text-align: center;
    width: 100%;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1;
    color: $color-white;
    background-color: $color-green;
    @include mq("md") {
        padding-top: rem(8);
        padding-right: rem(8);
        padding-bottom: rem(70);
        padding-left: rem(8);
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: rem(200);
    }
}

.price-table__title span {
    position: relative;
}

.price-table__title span::before {
    position: absolute;
    content: '';
    top: 47%;
    transform: translateY(-50%);
    left: rem(-33);
    mask-image: url(../images/ocean_sea_icon1.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: $color-white;
    width: rem(24);
    height: rem(24);
    @include mq("md") {
        width: rem(64);
        height: rem(64);
        top: rem(25);
        left: 50%;
        transform: translateX(-50%);
    }
}

.price-table__items {
    width: 100%;
    border-collapse: collapse;
}

.price-table__row + .price-table__row {
    border-top: 1px solid $color-green;
}

.price-table__item {
    padding-top:rem(6);
    padding-right: rem(8);
    padding-bottom: rem(5);
    padding-left: rem(8);
    width: 69.565217%;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.5;
    text-align: center;
    @include mq("md") {
        width: 68%;
        text-align: left;
    }
}

.price-table__value {
    padding-top: rem(18);
    padding-right: rem(16);
    padding-bottom: rem(18);
    padding-left: rem(16);
    width: 30.4347826%;
    text-align: right;
    font-size: rem(16);
    font-weight: $regular;
    font-family: 'Noto Sans JP',sans-serif;
    line-height: 1;
    border-left: 1px solid $color-green;
    @include mq("md") {
        width: 32%;
    }
}

.price-table__item,
.price-table__value {
    min-height: rem(60);
    @include mq("md") {
        padding: rem(17) rem(16);
    }
}

