@use "global" as *;

.sub-mv {
    position: relative;
    height: rem(460);
    @include mq("md") {
        height: rem(548);
    }
}

.sub-mv__inner {
    height: inherit;
}

.sub-mv__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(40);
    font-weight: 400;
    font-family: $second-font-family;
    color: $color-white;
    text-transform: capitalize;
    white-space: nowrap;
    @include mq("md") {
        top: 59%;
        font-size: rem(80);
        font-weight: $regular;
    }
}

.sub-mv__title--other {
    text-transform: initial;
}

.sub-mv__img {
    height: inherit;
}

.sub-mv__img picture {
    height: inherit;
}

.sub-mv__img img {
    height: inherit;
    object-fit: cover;
}